body {
    margin: auto;
}

#app {
    display: flex;
}

/* customize how react-folder-tree is styled */
.FolderTree {
    height: 200px;
    overflow-y: scroll;
}

.iconContainer {
    white-space: nowrap;
}